
.bottom{
    width: auto;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.green{
   width:85vw;
   height: 47vh;
    background-color: #92C149;
    border-radius: 20px;
    
}
.container{
    position: relative;
    width:85vw;
    height: 44vh;
    background-color: #FEFEFE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

@media (min-width:400px ) {
    .green,.container{
        max-width: 400px;
    }
}        


@media (min-width:700px ) {
    .green,.container{
        max-width: 500px;
    }
    .green{
        height: 60vh;
    }
    .container{
        height: 57vh;
    }
}
