  .container-Q{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width:80%;
    min-width: fit-content;
    min-height: 400px;
    max-height: fit-content;
    margin-left:7%;
    margin-right: 10%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    padding: 2%;
    padding-bottom: 100px;
   
    flex-wrap: wrap;

    
  
  }
  
  .containerList{
    background-color:rgb(240, 240, 240);
    width: 40%;
    min-width: 360px;
    padding-left: 4%;
    margin-bottom: 5%;
    border-radius: 15px ;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*.button-formMentor{
    font-size: 17px;
    background-color:#FFCC02;
    border: transparent;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 40px;
    padding-left: 40px;
  }*/

  .form-mentor{
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }

  .mg-bottom{
    margin-bottom: 10px; 
    background-color: rgb(240, 240, 240);
  }


  .button-formMentor{
    height:50px;
    padding: 8px 20px;
    background: #ffcc02;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    transition: 0.5s;
    border: none;   
    cursor: pointer; 
    font-size: 22px;
    align-items: center;
    

  }

.Card_green__3Iqh7{
  background-color: #592c5e;
}

.Card_container__1Mvu0{
  box-shadow: 1px 10px 10px 2px #363636;
  height: 100%;
  color: #000;
}

.payment{
  background-color:#ffcc02;
  border-radius: 15px ;
  width: 100%;
  

}

h3{
  color: #000;
}

.mg-bottom{
  color: #000;
}

body{
  background-color: rgb(240, 240, 240);
}

.parrafo{
  padding-bottom: 96px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}


