@font-face {
    font-family:Gilroy-ExtraBold ;
    src: url(../src/assets/Fontfamily/Gilroy-ExtraBold.otf);
    
    ;
}
@font-face {
    font-family:Gilroy-Light ;
    src: url(../src/assets/Fontfamily/Gilroy-Light.otf);
}
*{
    margin:0;
    padding: 0;
}