.drop-nav{
    align-items:baseline;
    margin-top: 20%;
    text-decoration: none;
    color: #000;
  }
  
  .drop-nav .dropdown{
    position: absolute;
    width: 100%;
    width: calc(100% + 100px);
    display: none;
  }
  .drop-nav .dropdown li{
    color:#000;
    display: block;
    padding: 5%;
  }
  .drop-nav:hover .dropdown{
    display: block;
  }
  
  .link{
    color:#000;
    text-decoration: none;
  }
  .link:hover{
    text-decoration: underline;
    color: #000;
  }
  